<html lang="en">

<head>
	<%-include("../Homepage/Header") -%> 
	<link rel="stylesheet" href="/css/loginstyle.css">
	<link rel="stylesheet" href="/css/staffstyle.css">
	
</head>

<body>
	<%-include("../Homepage/Nav") -%> 
	<div>
    <%-include("../Homepage/sidebar")-%>
    </div>
	<div class="d-flex justify-content-center" style="margin-top: 5%;">
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form method="post" action="/studentlogin">
				<label  for="chk" aria-hidden="true"> Student Login</label>
				<input  class="<%= valid %> " type="text" name="srno" placeholder="SR number" required>
				<input class="<%= valid  %> " type="password" name="password" placeholder="Password" required>

				<button  type="submit">Login</button>

			</form>
			<a href="/register" style="padding-left: 28%;">Click here to register</a>
		</div>

		
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>